{% extends 'base.html' %}

{% load static %}

{% block content %}


        <div class="container">

            <div class="row bg-light mt-3">
                <div class="col text-center">
                    <h1 class=" text-center">Welcome to the Wallet Application!</h1>
                    <hr style="border: 1px solid black;">
                    <p style="color: red; font-size: large;">Manage your finances with ease. This application allows you to create a secure digital wallet where you can: </p>
                    <p>1. View your current balance at any time.</p>
                    <p>2. Add or withdraw funds from your wallet to keep track of your finances.</p>
                    <p>3. See a history of all transactions with detailed records of deposits and withdrawals, so you always know where your money goes.</p>
                   
                    <hr>
                    <p style="color: blue;">With a simple, secure login and user-specific wallets, you can be confident that your account and funds are kept private and accessible only to you.</p>
                 
                    <p style="font-size: large; font-weight: bold;color: rgb(243, 5, 48);">Get started by creating an account or log in if you already have one!</p>
                </div>
            </div>

        </div>

       
       
    
       

    
    
{% endblock content %}