{% extends "base.html" %}

{% load static %}

{% block content %}


   <div class="container">
    <div class="row mt-5">
        <div class="col-6 offset-3">
            <form action="{% url 'manage_funds' %}" method="post" class="p-3 shadow-lg text-center">
                {% csrf_token %}
                <h3>Manage Funds</h3>
                <hr>
                <p>Here you can manage your funds.....</p>
                <input type="number" name="fund" step="0.01" value="100.00" required>
            
                <br><br>
            
                <input type="submit" value="Add" name="action" class="btn btn-primary">
                <input type="submit" value="Remove" name="action" class="btn btn-primary">
            </form>
        </div>

         
        

        

    </div>
   </div>
    

{% endblock content %}