{% extends "base.html" %}

{% load static %}

{% block content %}

  
   <div class="container">
    <div class="row">
        
        <div class="col-md-6 offset-3 mt-5 p-3 shadow-lg text-center">
            <h3>Welcome To Your Profile...</h3>

            <hr style="border: 2px solid black;">

            <p style="font-size: large; font-weight: bold;">To Manage Funds => </p>
            <a href="{% url 'manage_funds' %}">Click Here</a>

            <hr style="border: 1px solid black;">
            
            <p style="font-size: large; font-weight: bold;">To See All Detailes => </p>
            <a href="{% url 'wallet_dashboard' %}">Click Here</a>
        </div>

        
    </div>
   </div>
    

{% endblock content %}